@import "../../node_modules/toastify-js/src/toastify.css";

.todos {
  &-wrap {
    display: grid;
    grid-template-columns: 4fr 1fr;
    max-width: 1000px;
    width: 100%;
    gap: 20px;
  }

  &-col {
    padding: 8px;
    display: block;
  }
}

#todos-form {
  margin-top: 15px;
}

#todos-search {
  margin-bottom: 10px;
}